<meta charset="UTF-8">
<h3 class="title">{{view.title}}</h3>
<div class="row">
    <div class="wizard-steps well"
         style="overflow: hidden; margin-bottom: 25px;">
        <div class="{{(view.aba===1)? 'active-step': 'completed-step'}}"
             ng-click="view.aba = 1">
            <a href=""
               class="{{(view.aba===1)? 'active-step': 'completed-step'}}"><span>1</span>{{view.page}}</a>
        </div>
        <div class="{{(view.aba===2)? 'active-step': 'completed-step'}}"
             ng-click="view.aba = 2">
            <a href=""
               class="{{(view.aba===2)? 'active-step': 'completed-step' }}"><span>2</span>Usuários</a>
        </div>
    </div>
</div>
<!-- Dados da cliente-->
<fieldset class="fieldset well" ng-show="view.aba === 1">
    <legend>{{view.legenda}}</legend>
      <div class="row">
         <div class="col-lg-6" >
              <label for="pessoaF" class="radio-inline"> <input ng-disabled="!UserNivel().In(1)"
                      id="pessoaF" name="pessoaFj" type="radio" ng-model="dados.pessoa" ng-click="dados.cpf_cnpj = ''"
                      value="F" /> Pessoa Física
              </label> <label for="pessoaJ" class="radio-inline"> <input ng-disabled="!UserNivel().In(1)"
                      id="pessoaJ" name="pessoaFj" type="radio" ng-model="dados.pessoa" ng-click="dados.cpf_cnpj = ''"
                      value="J" />Pessoa Jurídica*
              </label>
          </div>
      </div>	
      <div class="row">
          <div class="col-lg-6">
              <label for="nome_fantasia">Empresa (Nome Fantasia)*</label> <input ng-disabled="!UserNivel().In(1)"
                  id="nome_fantasia" type="text" class="form-control"
                  ng-model="dados.nome_fantasia"  maxlength="60"/>
          </div>
          <div class="col-lg-6">
              <label for="razao_social">Razão Social</label> <input ng-disabled="!UserNivel().In(1)"
                  id="razao_social" type="text" class="form-control"
                  ng-model="dados.razao_social"  maxlength="60"/>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
              <div class="ng-cloak">
                  <div class="ng-cloak" ng-show="dados.pessoa === ''">
                      <label for="fake"  >CPF/CNPJ</label>
                      <input id="fake" type="text" ng-disabled="!UserNivel().In(1)" class="form-control" ng-model="dados.cpf_cnpj" disabled="true"   maxlength="20"/>			
                  </div>
                  <div class="ng-cloak" ng-show="dados.pessoa === 'F'">
                      <label for="cpf_cnpj">CPF</label>
                      <input id="cpf" type="text" ng-disabled="!UserNivel().In(1)" class="form-control" ng-model="dados.cpf_cnpj" ui-br-cpf-mask  maxlength="20"/>
                  </div>
                  <div class="ng-cloak" ng-show="dados.pessoa === 'J'">
                      <label for="cpf_cnpj" >CNPJ</label>
                      <input id="cnpj" type="text" ng-disabled="!UserNivel().In(1)" class="form-control" ng-model="dados.cpf_cnpj" ui-br-cnpj-mask maxlength="20" />			 
                  </div>
              </div>

          </div>
          <div class="col-lg-3">
              <label for="telefone">Telefone*</label> <input id="telefone" ng-disabled="!UserNivel().In(1)"
                                                             type="text" class="form-control" ng-model="dados.telefone" ui-br-phone-mask/>
          </div>
          <div class="col-lg-6">
              <label for="unidade">Unidade</label> <input ng-disabled="!UserNivel().In(1)" id="unidade" type="text"
                                                          class="form-control" ng-model="dados.unidade"   maxlength="100"/>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <label for="situacao_id">Situação*</label><select id="situacao_id" ng-disabled="!UserNivel().In(1)"
                                                                chosen no-results-text="'Sem resultados para:'" class="form-control" ng-model="dados.situacao_id" 
                                                                ng-options="item.id as item.descricao for item in toList(dadosLov.situacao)">
                  <option value="">***Selecione***</option>
              </select>
          </div>
          <div class="col-lg-8">
              <label for="site">Site</label><input id="site" class="form-control" ng-disabled="!UserNivel().In(1)"
                                                   ng-model="dados.site"  maxlength="100"/>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <label for="uf_id">UF*</label> <select id="uf_id" class="form-control" ng-disabled="!UserNivel().In(1)"
                                                     chosen no-results-text="'Sem resultados para:'" ng-model="dados.uf_id" ng-change="onChangeCarregaCidades(dados.uf_id)"
                                                     ng-options="item.id as item.nome for item in toList(dadosLov.uf)" ng-init="onChangeCarregaCidades(dados.uf_id)">
                  <option value="">***Selecione***</option>
              </select>
          </div>
          <div class="col-lg-4">
              <label for="cidade_id">Cidade*</label><select id="cidade_id" ng-disabled="!UserNivel().In(1)"
                                                            chosen no-results-text="'Sem resultados para:'" class="form-control" ng-model="dados.cidade_id"
                                                            ng-options="item.id as item.nome for item in toList(dadosLov.cidade)">
                  <option value="">***Selecione***</option>
              </select>
          </div>	
      </div>    
      <div class="row">
          <div class="col-lg-12">
              <label for="observacao">Observações</label>
              <textarea id="observacao" class="form-control" ng-disabled="!UserNivel().In(1)"
                        ng-model="dados.observacao" rows="5" maxlength="4000">
              </textarea>
          </div>
      </div>
    <br />
     <div class="row">
        <div class="col-lg-6">
            <a href="javascript:window.history.go(-1)" class="btn btn-primary">Voltar&nbsp; <i class="glyphicon glyphicon-share-alt"></i></a>
        </div>
       <div class="col-lg-6" ng-if="UserNivel().In(1)">
            <button type="button" class="btn btn-success pull-right" ng-click="onClickSalvar()">
                Salvar <i class="glyphicon glyphicon-ok"></i>
            </button>
        </div>
    </div>
</fieldset>
<!-- Usuarios cadastrados-->
<fieldset class="fieldset well" ng-show="view.aba === 2">
    <legend>Dados dos usuário</legend>
    <div class="row"  ng-show="UserNivel().In(1)">
        <div class="col-lg-12">
            <button class="btn btn-primary" ng-click="onClickCadastrarUsuario()" ng-show="(dados.id > 0)">Adicionar(+)</button>
        </div>
    </div>
    <br/>
    <div class="row">	
        <div class="col-lg-12">
            <table class="table table-bordered table-striped table-hover table-condensed cf">
                <thead>
                    <tr class="title-table">
                       <th  class="col-lg-1">Foto</th>
                        <th class="col-lg-5">Nome usuario</th>
                        <th class="col-lg-3">Email</th>
                        <th class="col-lg-2">Status</th>
                        <th class="col-lg-1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in toList(dadosLov.usuario)">
                       <td align="center" ><image ng-src="{{(item.src_foto===null)?view.fotoDefault:item.src_foto}}" width="50"/></td>
                        <td>{{item.id}}-{{item.nome}}</td>						
                        <td>{{item.email}}</td>
                        <td>{{(parseInt(item.ativo) === parseInt(1)) ? "Ativo" : "Inativo"}}</td>
                        <td>                          
                            <a ng-show="UserNivel().In(1)" class="btn btn-default btn-xs" ng-click="onClickEditarUsuario(item)" title="editar usuário"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a ng-if="user.Id===item.id || UserNivel().In(1)" class="btn btn-default btn-xs" ng-click="onClickCarregarFoto(item.id)" title="carregar foto"><i class="glyphicon glyphicon-picture"></i></a>
                        </td>	
                    </tr>
                    <tr ng-show="dados.usuario.length === 0">
                        <td colspan="4" align="center">Não há usuários cadastrados</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
<!--<script type="text/javascript" src="app-controller/cliente.js"></script>
<script type="text/javascript" src="app-controller/usuario.js"></script>-->