<meta charset="UTF-8">
<h3 class="title">{{pagina.titulo}}</h3>
<!-- Dados do cliente-->
<fieldset class="fieldset well" ng-show="UserNivel().In(1)">
	<legend>Filtro</legend>
	<div class="row">
		<div class="col-lg-9 pull-left">
			<div class="input-group">
				<input type="text" class="form-control"
					placeholder="{{view.placeholder}}" name="filtroUnico"
					ng-model="view.filtroUnico"  ng-keypress="onKeyPressListar($event)"><span
					class="input-group-btn"><a href class="btn btn-primary"
					type="button" ng-click="onClickListar(false)"><i
						class="glyphicon glyphicon-search"></i>&nbsp;Buscar</a>
				</span>
			</div>
		</div>
		<div class="col-lg-3">
			<a href="#/cliente/new"
				class="btn btn-success pull-right btn-novo"><i
				class="glyphicon glyphicon-file"></i>&nbsp;Cadastrar</a>
		</div>
	</div>
</fieldset>
<!-- Usuarios cadastrados-->
<fieldset class="fieldset well">
	<legend>{{pagina.legenda}}</legend>
	<div class="row">
		<div class="col-lg-12">
			<div id="flip-scroll">
				<table datatable ng-source="view.dados" class="table table-bordered table-striped table-hover table-condensed cf" id="GridView1">
					<thead>
						<tr class="title-table">
							<th  class="col-lg-1">Código</th>							
							<th  class="col-lg-6">Nome/Razão</th>
							<th  class="col-lg-2">Telefone</th>
							<th  class="col-lg-2">Situação</th>
							<th  class="col-lg-1">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in view.dados">
							<td>{{item.id}}</td>							
							<td>{{item.nome_fantasia | setMaxLength:40}} {{(item.nome_fantasia==='' || item.razao_social==='')?'': '/'}}  {{item.razao_social | setMaxLength:40}}</td>	
							<td>{{item.telefone | foneFilter}}</td>						
							<td>{{item.situacao_descricao}}</td>
							<td><a href="#/cliente/{{item.id}}"  ng-show="UserNivel().In(1,2)"
								class="btn btn-default btn-xs" title="Editar"> <i
									class="glyphicon glyphicon-pencil"></i>
							</a> <a href="#/cliente/visualizar/{{item.id}}"
								class="btn btn-default btn-xs" title="Visualizar"> <i
									class="glyphicon glyphicon-eye-open"></i></a></td>
						</tr>					
					</tbody>
				</table>
			</div>
	</div>
</div>

</fieldset>
<!--<script type="text/javascript"	src="app-controller/cliente-listar.js"></script>-->