<meta charset="UTF-8">
<h3 class="title">{{pagina.titulo}}</h3>
<!-- Dados da cliente-->
<fieldset class="fieldset box">
   <legend>{{pagina.legenda}}</legend>
   <div class="row">
      <div class="col-lg-2">
         <label for="Id">Número</label>
         <input id="Id" type="text"
                class="form-control" ng-model="dados.id" disabled />
      </div>
      <div class="col-lg-3">
         <label for="situacao">Situação</label>
         <select id="situacao"
                 class="form-control" ng-model="dados.situacao_id" ng-disabled="true"
                 ng-options="item.id as item.descricao for item in toList(dadosLov.situacao)">
            <option value="">***Selecione***</option>
         </select>
      </div>
      <div class="col-lg-4" ng-disabled="!(dadosLov.item.length > 0)">
         <label for="categoria">Categoria*</label>
         <select id="categoria"
                 chosen no-results-text="'Sem resultados para:'" class="form-control"
                 ng-model="dados.categoria_id" ng-disabled="view.salvar"
                 ng-options="item.id as item.descricao for item in toList(dadosLov.categoria)">
            <option value="">***Selecione***</option>
         </select>
      </div>
      <div class="col-lg-3">
         <label for="categoria">Tipo*</label>
         <select id="tipo" chosen
                 no-results-text="'Sem resultados para:'" class="form-control"
                 ng-model="dados.servico" ng-disabled="view.salvar"
                 ng-change="dadosLov.item = []"
                 ng-options="item.id as item.descricao for item in toList(view.tipo)">
            <option value="">***Selecione***</option>
         </select>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-2">         
         <label for="placa">Placa*</label>
         <input id="placa"
                ng-disabled="view.salvar" type="text" class="form-control"
                ng-model="dados.placa" maxlength="7" ng-blur="onBuscarVeiculo()" />
      </div>
      <div class="col-lg-5">
         <label for="Observacao">Descrição do serviço*</label> <input
            id="Observacao" ng-disabled="view.salvar" type="text"
            class="form-control" ng-model="dados.observacao" maxlength="80" />
      </div>
      <div class="col-lg-5">
         <label for="marca_modelo">Marca/Modelo*</label> <input
            id="marca_modelo" ng-disabled="view.salvar || view.existeVeiculo" type="text"
            class="form-control" ng-model="dados.marca_modelo" maxlength="60" />
      </div>		
   </div>
   <div class="row">
      <div class="col-lg-2">
         <label for="ano_fabricacao">Ano Fabricação*</label> <input
            id="ano_fabricacao" ng-disabled="view.salvar || view.existeVeiculo" type="text"
            class="form-control" ng-model="dados.ano_fabricacao" maxlength="4"
            mask-regex="[0-9]{4}" />
      </div>
      <div class="col-lg-2">
         <label for="Ano_modelo">Ano Modelo*</label>
         <input id="Ano_modelo" 
                ng-disabled="view.salvar || view.existeVeiculo" type="text" class="form-control" 
                ng-model="dados.ano_modelo" maxlength="4" mask-regex="[0-9]{4}" />
      </div>
      <div class="col-lg-3">
         <label for="classi">Chassi</label>
         <input id="chassi"
                ng-disabled="view.salvar || view.existeVeiculo" type="text" class="form-control"
                ng-model="dados.chassi" maxlength="20" />
      </div>

      <div class="col-lg-2">
         <label for="Renavam">KM</label>
         <input id="Renavam"
                ng-disabled="view.salvar" type="text" class="form-control"
                ng-model="dados.km" maxlength="12" ui-number-mask="0" />
      </div>

      <div class="col-lg-3">
         <label for="Renavam">Cód Renavam</label>
         <input id="Renavam"
                ng-disabled="view.salvar || view.existeVeiculo" type="text" class="form-control" 
                ng-model="dados.renavam" maxlength="30" mask-regex="[0-9]{30}" />
      </div>
   </div>
   <div class="row">
      <div class="col-lg-7" ng-show="dados.servico === '2'">
         <label for="inserir_item" class="checkbox"> Permitir
            estabelecimento adicionar produtos?
            <input class="checkbox"
                   id="inserir_item" ng-disabled="view.salvar" type="checkbox"
                   ng-model="dados.inserir_item"
                   ng-checked="dados.inserir_item.toBoolean()">
         </label>
      </div>
      <div class="col-lg-3 pull-right">
         <div class="btn-group  pull-right" style="margin-top: 31px;">
            <!-- 	salvar -->
            <a class="btn btn-default" ng-click="onClickSalvar()"
               ng-show="(dadosLov.item.length > 0 && !view.salvar) || (dados.servico.In(1) && !view.salvar)">Salvar&nbsp;<i
                  class="glyphicon glyphicon-ok"></i>
            </a>
            <!-- 	Editar -->
            <a class="btn btn-default"
               ng-click="view.salvar = false;
                        view.editar = false"
               ng-show="view.salvar && view.editar"> Editar&nbsp;<i
                  class="glyphicon glyphicon-pencil"></i>
            </a>
            <!-- Desfazer -->
            <a class="btn btn-default" ng-click="onClickDesfazer()"
               ng-show="!view.salvar && !view.editar">Desfazer&nbsp;<i
                  class="glyphicon glyphicon-share-alt"></i></a>
            <!-- cancelar -->
            <a class="btn btn-default" ng-click="onClickCancelar()"
               ng-show="!view.enviar && view.cancelar">Cancelar&nbsp;<i
                  class="glyphicon glyphicon-ban-circle"></i></a>
            <!-- 	Enviar -->
            <a class="btn btn-default" ng-click="onClickEnviar()"
               ng-show="view.salvar && view.enviar">Enviar&nbsp; <i
                  class="glyphicon glyphicon-open"></i>
            </a>
            <!--Sair-->
            <a href="javascript:history.back(1)" class="btn btn-primary">Voltar&nbsp;
               <i class="glyphicon glyphicon-share-alt"></i>
            </a>
         </div>
      </div>
   </div>
   <div class="row" ng-show="view.isAdm">
      <div class="col-lg-12">
         <label for="cliente">Cliente*</label>
         <input type="hidden"
                id="cliente" class="form-control" select2 ng-disabled="view.salvar"
                ng-init-value="dadosLov.cliente" placeholder="Busque o cliente"
                url="Cliente/BuscarPorNome" ng-model="dados.cliente_id" />
      </div>
   </div>
</fieldset>
<!-- se for servico oculte item -->
<fieldset class="fieldset box" ng-hide="dados.servico.In(1)">
   <legend>Cadastrar Itens</legend>
   <div class="row">
      <div class="col-lg-7">
         <label for="descricao">Descrição*</label>
         <div class="input-group">			
            <input id="descricao" type="text" class="form-control"
                   ng-model="item.descricao" ng-disabled="view.salvar || item.produto_id > 0" 
                   maxlength="80" placeholder="Descreva o produto" />
            <span class="input-group-btn" >
               <a ng-disabled="view.salvar" ng-click="onClickListarProdutos()" title="Pesquisar Produto"
                  class="btn btn-default pull-right" >&nbsp;<i
                     class="glyphicon glyphicon-search"></i></a>
            </span>
         </div>			
      </div>		
      <div class="col-lg-2">
         <label for="qdt">Qtd*</label>
         <input id="qdt" type="text"
                class="form-control" ng-model="item.quantidade" ui-number-mask="0"
                ng-disabled="view.salvar" maxlength="12" />
      </div>
      <div class="col-lg-3">
         <a class="btn btn-default pull-right" style="margin-top: 10%"
            ng-disabled="view.salvar"
            ng-click="(view.salvar) ? false : onClickItemAdicionar()"
            ng-hide="view.editarItem">Adicionar&nbsp;<i
               class="glyphicon glyphicon-plus"></i>
         </a> <a class="btn btn-default pull-right" style="margin-top: 10%"
                 ng-disabled="view.salvar" ng-click="onClickItemSalvar()"
                 ng-show="view.editarItem">Salvar&nbsp;<i
               class="glyphicon glyphicon-ok"></i>
         </a> <a class="btn btn-default pull-right" style="margin-top: 10%"
                 ng-disabled="view.salvar" ng-click="onClickItemCancelar()"
                 ng-show="view.editarItem">Cancelar&nbsp;<i
               class="glyphicon glyphicon-remove"></i>
         </a>
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-lg-12">
         <table
            class="table  table-bordered table-striped table-hover table-condensed cf">
            <thead>
               <tr class="title-table">
                  <th width="10%">contagem</th>
                  <th width="55%">Descrição</th>
                  <th width="15%">Quantidade</th>
                  <th width="5%" ng-disabled="view.salvar">Ações</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in dadosLov.item">
                  <td class="col-lg-1">{{$index + 1}}</td>
                  <td class="col-lg-8">{{item.descricao}}</td>
                  <td class="col-lg-2">{{item.quantidade}}</td>
                  <td class="col-lg-1"><a class="btn btn-default btn-xs"
                                          ng-disabled="view.salvar" ng-click="onClickEditarItem($index)">
                        <i class="glyphicon glyphicon-pencil"></i>
                     </a> <a class="btn btn-default btn-xs" ng-disabled="view.salvar"
                             ng-click="onClickItemRemover($index)"> <i
                           class="glyphicon glyphicon-remove"></i>
                     </a></td>
               </tr>
               <tr ng-show="!(dadosLov.item.length > 0)">
                  <td colspan="4" align="center">Não há itens cadastrados</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</fieldset>
<!--<script type="text/javascript" src="app-controller/pedido.js"></script>
<script type="text/javascript" src="app-controller/produto-listar-modal.js"></script>-->