<div class="box col-lg-6 col-md-6 col-sm-6  col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
	<div class="col-lg-12">
       <div class="login">
         <div class="col-lg-12 logo-login">
             <img alt="" src="img/logo.png" height="50px" class="pull-left"
                 style="margin-left: 1px;" />
             <h4 style="color: white;">Recuperar Senha</h4>
         </div>
         <div class="col-lg-12">
             <div class="input-group">
                 <span class="input-group-addon"> @ </span> <input
                     class="form-control" type="text" placeholder="entre com seu email"
                     name="Email" ng-model="dados.email" maxlength="40" /> <span
                     class="input-group-btn "> 					
                     <button type="button"
                     class="btn btn-primary" value="Recuperar"
                     ng-click="RecuperarSenha()"> <i class="glyphicon glyphicon-envelope"></i> Recuperar</button>
                     </span>
             </div>
         </div>
         <div class="col-lg-12">
             <a class="text-muted" href="#/" name="EsqueceuSenha"><small>Voltar</small></a>
         </div>
       </div>
	</div>
</div>
<!--<script type="text/javascript" src="app-controller/recuperar-senha.js"></script>-->