<meta charset="UTF-8">
<h3 class="title">{{pagina.titulo}}</h3>
<!-- Dados do veiculo-->
<fieldset class="fieldset well">
   <legend>{{pagina.legenda}}</legend>
   <div class="row">       
      <div class="col-lg-2">
         <label for="id">Código</label>
         <input id="id" type="text"
                class="form-control" ng-model="dados.id" disabled="disabled" />
      </div>  
   </div>  
   <div class="row"> 
      <div class="col-lg-2">
         <label for="placa">Placa*</label>
         <input id="placa"
                type="text" class="form-control" ng-model="dados.placa"
                maxlength="7" />
      </div> 
      <div class="col-lg-6">
         <label for="marca_modelo">Marca/Modelo*</label>
         <input id="marca_modelo"
                type="text" class="form-control" ng-model="dados.marca_modelo"
                maxlength="60" />
      </div>		  
      <div class="col-lg-2">
         <label for="ano_fabricacao">Ano Fabricacao*</label>
         <input id="ano_fabricacao"
                type="text" class="form-control" ng-model="dados.ano_fabricacao" mask-regex="[0-9]{4}"
                maxlength="4" />
      </div>              
      <div class="col-lg-2">
         <label for="ano_modelo">Ano Modelo*</label>
         <input id="ano_modelo"
                type="text" class="form-control" ng-model="dados.ano_modelo" mask-regex="[0-9]{4}"
                maxlength="4" />
      </div> 
   </div> 
   <div class="row">
      <div class="col-lg-3">
         <label for="chassi">Chassi</label>
         <input id="chassi"
                type="text"
                class="form-control"
                ng-model="dados.chassi"
                maxlength="20" />
      </div>       
      <div class="col-lg-3">
         <label for="renavam">renavam</label>
         <input id="renavam"
                type="text"
                class="form-control"
                ng-model="dados.renavam"
                maxlength="30" mask-regex="[0-9]{30}" />
      </div>
      <div class="col-lg-3">
         <label for="ativo">Situação*</label>
         <select id="ativo" chosen
                 no-results-text="'Sem resultados para:'" class="form-control"
                 ng-model="dados.ativo"
                 ng-options="item.id as item.descricao for item in lovStatus">            
         </select>        
      </div>      
      <div class="col-lg-3 " style="margin-top: 31px;">
         <div class="btn-group pull-right">
            <button type="button" class="btn btn-success pull-left"
                    ng-click="onClickSalvar()">
               {{(dados.id>0)?'Editar':'Cadastra'}} &nbsp;<i class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button" class="btn btn-default pull-left" ng-show="view.editar"
                    ng-click="onClickDesfazerSalvar()">
               Desfazer <i class="glyphicon glyphicon-share-alt"></i>
            </button>
            <a href="" onclick="javascript:history.back(-1);"
               class="btn btn-primary">Voltar&nbsp;
               <i class="glyphicon glyphicon-share-alt"></i>
            </a>
         </div>
      </div>
   </div>
   <div class="row" ng-show="UserNivel().In(1, 3)">
      <div class="col-lg-4">
         <label for="cliente">Este veículo pertence a(o)*</label>
         <input type="text"
                id="cliente" class="form-control" select2 
                ng-init-value="dadosLov.cliente" placeholder="Busque o cliente"
                url="Cliente/BuscarPorNome" ng-model="dados.cliente_id" />
      </div>
   </div>
</fieldset>
<!--<script type="text/javascript" src="app-controller/veiculo.js"></script>-->
