<div class="modal fade modal-dialog-loadind" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div  style="text-align: center;">   
             <h4 style="color:green">Aguarde...</h4>           
            </div>                 
            <div style="text-align: center; padding-top: 5x;padding-bottom: 5px;">
            <img/>            
            </div>
        </div>
    </div>
</div>